############################
# GLOBAL
############################
.env
.env.local
.env.*.local

############################
# DOTNET (backend)
############################
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo
**/*.cache
**/*.log

# ASP.NET Core
**/appsettings.Development.json
**/appsettings.Local.json

############################
# NEXT.JS (frontend)
############################
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env.local
frontend/.env.production

############################
# OS FILES
############################
.DS_Store
Thumbs.db

############################
# IDEs
############################
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
.idea/
